<nav class="navbar navba-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="clientes" routerLinkActive = "active" class="nav-link"> Lista de Clientes</a>
    </li>
    <li class="nav-item">
      <a routerLink="criar-cliente" routerLinkActive = "active" class="nav-link"> Adicionar Clientes</a>
    </li>
    <li class="nav-item">
      <a routerLink="clientes-saida-list" routerLinkActive = "active" class="nav-link"> Lista de Saídas</a>
    </li>
    
  </ul>
</nav>

<h1 class="text-center" > Projeto Estacionamento </h1>
<div class="container">
<router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>Projeto Estacionamento Beca-everis</span>
  </div>

</footer>